---
Title: Cake.Twitter
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Twitter is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the posting of tweets to Twitter.
    </p>
</div>